form {
    padding: 20px;
}

fieldset label {
    padding-top: 20px;
    padding-bottom: 10px;
}

fieldset button {
    margin: 20px auto;
}

fieldset input[type="text"] {
    border: none;
    padding-left: 0;
}

fieldset input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0.3;
}
fieldset input::-moz-placeholder { /* Firefox 19+ */
    opacity: 0.3;
}
fieldset input:-ms-input-placeholder { /* IE 10+ */
    opacity: 0.3;
}
fieldset input:-moz-placeholder { /* Firefox 18- */
    opacity: 0.3;
}

.error {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    color: #FF3B3F;
}