form {
    padding: 20px;
}

fieldset label {
    padding-top: 20px;
    padding-bottom: 10px;
}

fieldset button {
    margin: 20px auto;
}

.error {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    color: #FF3B3F;
}